name: Framework Release
on: 
  workflow_dispatch:
    inputs:
      new_version:
        description: "New sdk version"
        required: true
permissions:
  contents: read
jobs:
  Release:
    runs-on: ubuntu-latest
    permissions:
        contents: write
        pull-requests: write
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with: 
        ref: ${{ github.head_ref }}
    - name: update version file
      run: |
       echo '//
       // Copyright The OpenTelemetry Authors
       // SPDX-License-Identifier: Apache-2.0
       //
       
       import Foundation
       
       extension Resource {
         public static let OTEL_SWIFT_SDK_VERSION: String = "${{ inputs.new_version }}"
       }
       ' > Sources/OpenTelemetrySdk/Version.swift
    - name: update Podspec
      run: | 
        sed -i -e  's/spec.version = ".*"/spec.version = "${{ inputs.new_version }}"/' OpenTelemetry-Swift-Api.podspec
        sed -i -e  's/spec.version = ".*"/spec.version = "${{ inputs.new_version }}"/' OpenTelemetry-Swift-Sdk.podspec
        sed -i -e  's/spec.version = ".*"/spec.version = "${{ inputs.new_version }}"/' OpenTelemetry-Swift-StdoutExporter.podspec

    - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
      id: otelbot-token
      with:
        app-id: ${{ vars.OTELBOT_APP_ID }}
        private-key: ${{ secrets.OTELBOT_PRIVATE_KEY }}

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      with:
        token: ${{ steps.otelbot-token.outputs.token }}
        branch-token: ${{ secrets.GITHUB_TOKEN }}
        branch: release/${{inputs.new_version}}
        commit-message: 'Release ${{inputs.new_version}}'
        title: 'Release ${{inputs.new_version}}'
        delete-branch: true
        body: >
          This PR is auto-generated by 
          [create-pull-request](https://github.com/peter-evans/create-pull-request).
        base: main
